@use '../util' as u;

.featureslist {
  background-color: var(--fullwidth-bg);
  &__wrapper {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    @include u.breakpoint(large) {
      flex-wrap: nowrap;
      gap: 5.5%;
    }
  }
  &__item {
    text-align: center;

    @include u.breakpoint(large) {
      flex: 1;
      text-align: start;
    }
  }

  &__icon {
    height: u.rem(48);
    width: auto;
    margin-block-end: 10px;

    @include u.breakpoint-down(medium) {
      margin-inline: auto;
    }
  }
  &__heading {
    text-align: center;
  }
  &__content {
    text-align: center;
    max-width: 85ch;
    margin-inline: auto;
    margin-block-end: 0px;
  }

  &__title {
    margin-block-end: u.rem(10);
  }

  &__description {
    margin-block-end: 0;
    max-width: 50ch;
  }
  &__itemwrapper {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    @include u.breakpoint(large) {
      flex-wrap: nowrap;
      gap: 5.5%;
    }
  }
  &__buttons {
    display: flex;
    justify-content: center;
  }
}
