@use '../util' as u;
@use 'sass:math';

.hero {
  background-color: var(--hero-bg);
  color: var(--text-light);

  &__wrapper {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    justify-items: center;
    padding-block: 30px 60px;
    @include u.breakpoint(large) {
      // flex-direction: row-reverse;
      grid-template-columns: 6fr 5fr;
      align-items: center;
      padding-block: 40px 80px;
      gap: 10%;
    }
  }
  &__image {
    // max-width: u.rem(226.5);
    object-fit: cover;
    // transform: translateY(50px);
    overflow: hidden;
    height: auto;
    // animation: slide 4s linear infinite;
    @include u.breakpoint(large) {
      // flex: 5;
      // order: 2;
      width: 100%;
      height: u.rem(286);
    }
  }
  &__imagelist {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
    margin: 0;
    gap: 16px;
    width: 100%;

    @include u.breakpoint(large) {
      width: 100%;
    }
  }
  &__imagelistcontainer {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    max-height: 486px;
    gap: 30px;
    width: 100%;
    order: 2;
    overflow: hidden;

    @include u.breakpoint-down(medium) {
      height: clamp(28.75rem, 19.067rem + 41.315vw, 56.25rem);
      min-height: 460px;
      gap: 10px;
    }
  }
  &__text {
    @include u.breakpoint(large) {
    }
  }
  &__button {
    &:first-of-type {
      margin-inline-end: 20px;
    }
  }
}

// @keyframes bgScroll {
//   0% {
//     transform: translateY(-100%);
//   }
//   100% {
//     transform: translateY(calc(0% + var(--translate-y-offset)));
//   }
// }
