@use '../util' as u;

.pricing {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block-start: 40px;
    padding-block-end: 40px;
  }
  &__table {
    border-collapse: collapse;
    width: 100%;
  }
  &__row {
    /* Apply border to each row */
    border-bottom: 1px solid black;
    padding-block-start: 5px;
    padding-block-end: 5px;
  }
  &__item {
    font-size: u.rem(24);
  }
}
